.secondaryColor{
    background-color: #5699FF;
}

.primaryColor{
    background-color: #023047;
}

.primaryTextColor{
    color: #ffffff;
}

.secondaryOutlineColor{
    background-color: #5699FF;
}

.primaryOutlineColor{
    background-color: #023047;
}
